<div id="background">
  	  <header class="cf">
  	  	<div class="wrapper_wide">
	  	<a href="index.html" id="logo">Mamas.Connect</a>
	  	<nav>
	  		<ul>
	  			<li><a href="podcasts.html"></a>Explore</li>
	  			<li><a href="sign-in.html"></a>Sign In</li>
	  			<li><a href="sign-up.html"></a>Create a Podcast</li>
	  		</ul>
	  	</nav>
	  	</div>
      </header>
	  <div class="wrapper_skinny">
	      <h1>Follow your favorite mum's <br> journey, or create your own.</h1>
		  <a href="#" class="button button_highlight">Create your Journey</a>
		  <a href="#" class="button button_white">Explore</a>
	  </div>
  </div>
