 <div id="banner" class="podcasts_banner">
    <h1>Discover an inspiring mum's journey.</h1>
 </div>

 <div id="podcasts" class="cf">
  <div class="wrapper">
   <ul class="cf">
   <% @journeys.each do |journey| %>
    <% link_to journey do %>
    <li>
     <%= image_tag journey.thumbnail.url(:medium) %>
      <div class="podcast_overview">
      <h2><%= journey.title %></h2>
       <p class="episode_count"> journey.episode.count </p>
      </div>
    </li>
   <% end %>
  <% end %>
  </ul>
   <%= will_paginate @journey %>
   </div>
 </div>
